<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Analysis</h1>
        <div>
            <h2>NPS Scores by Parent Account</h2>
            {{ graph_parent | safe }}
        </div>
        <div>
            <h2>NPS Scores by GBE</h2>
            {{ graph_gbe | safe }}
        </div>
        {% if graph_sentiment_parent %}
        <div>
            <h2>Sentiment Scores by Parent Account</h2>
            {{ graph_sentiment_parent | safe }}
        </div>
        {% endif %}
        {% if graph_forecast %}
        <div>
            <h2>Forecasted NPS Scores for Next Period</h2>
            {{ graph_forecast | safe }}
        </div>
        {% endif %}
    </div>
</body>
</html>
